header {
  background-image: url("../img/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: auto; }

.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

nav {
  background-color: rgba(54, 47, 45, 0.59);
  height: 65px; }
  nav .wrapper {
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between; }

.bars {
  display: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
  z-index: 100; }
  .bars--line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff; }
  .bars.close {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
    .bars.close .bars--line:nth-child(1) {
      -webkit-transform: rotate(45deg) translate(5px, 5px);
              transform: rotate(45deg) translate(5px, 5px); }
    .bars.close .bars--line:nth-child(2) {
      opacity: 0; }
    .bars.close .bars--line:nth-child(3) {
      -webkit-transform: rotate(-45deg) translate(7px, -6px);
              transform: rotate(-45deg) translate(7px, -6px); }

.primary-menu {
  display: block; }
  .primary-menu li {
    display: inline-block;
    margin-right: 41px; }
    .primary-menu li a {
      color: #ffffff;
      font-family: "Avant Garde Gothic ITC - Dm";
      font-size: 16px; }
      .primary-menu li a:hover {
        color: #91d316; }

.submenu {
  display: block;
  position: fixed;
  top: 65px;
  width: 100%;
  right: 100%;
  bottom: 0;
  background: #000;
  z-index: 999;
  transition: right 0.3s; }
  .submenu ul {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
  .submenu li a {
    color: #fff;
    line-height: 3.5;
    cursor: pointer; }
    .submenu li a:hover, .submenu li a:active {
      color: #679c01; }

.close-submenu {
  color: #ccc;
  font-size: 45px;
  position: absolute;
  top: 5%;
  left: 10%; }

.call {
  margin-left: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .call a {
    font-family: "Avant Garde Gothic ITC - Dm", sans-serif;
    color: #fff;
    font-size: 25px; }
    .call a span {
      font-size: 18px; }
  .call-icon {
    width: 29px;
    height: 29px; }
  .call-number {
    display: block;
    margin-left: 10px; }

.wrap-cart {
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  cursor: pointer;
  margin-left: 80px;
  z-index: 300; }
  .wrap-cart svg {
    width: 20px;
    height: 20px; }
  .wrap-cart:hover svg {
    color: #91d316; }
  .wrap-cart span {
    display: block;
    margin-left: 11px;
    font-family: "Avant Garde Gothic ITC - Dm", sans-serif; }

.cart-img {
  position: relative; }

.cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  color: #fff;
  font-size: 10px;
  font-weight: 700; }

.banner {
  color: #fff;
  height: calc(100% - 65px); }
  .banner .wrapper {
    height: 100%;
    position: relative; }
  .banner h1 {
    font-family: "Avant Garde Gothic C";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 25px; }
  .banner span {
    color: #c4fc4b;
    font-family: "Avant Garde Gothic ITC - Dm", sans-serif;
    font-size: 21px;
    font-weight: 400; }
    .banner span code {
      font-size: 42px; }
  .banner-btn {
    text-align: center;
    margin-top: calc(10px + 6.8vw); }
    .banner-btn a {
      font-family: "Avant Garde Gothic ITC - Dm", sans-serif;
      display: inline-block;
      margin: 0 17px; }

.benner-logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .benner-logo .logo {
    -ms-flex: 43%;
        flex: 43%;
    text-align: right;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: end;
        justify-content: flex-end;
    padding-right: 2.6%; }

.banner-logo_desc {
  -ms-flex: 56%;
      flex: 56%; }

.read-more {
  font-size: 17px;
  text-decoration: underline;
  color: #fff; }

.camera {
  position: absolute;
  right: 0;
  top: 36px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.37);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.37); }
  .camera p {
    display: inline-block;
    font-family: "Avant Garde CTT", sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding: 6px 14px 3px 8px; }
  .camera img {
    display: inline-block;
    margin-top: -19px; }

#effect {
  padding: calc(40px + 3.5vw) 0 calc(46px + 3.5vw);
  text-align: center;
  overflow: hidden; }

.effect {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: baseline;
      align-items: baseline;
  margin-top: 34px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .effect .arrow1,
  .effect .arrow3 {
    display: none; }
  .effect .arrow2 {
    display: none; }
    .effect .arrow2 svg {
      -webkit-transform: rotateX(180deg) translateY(20px);
              transform: rotateX(180deg) translateY(20px); }
  .effect p {
    color: #282828;
    font-family: "Avant Garde Gothic C";
    font-size: 15px;
    line-height: 1.3;
    margin-top: 30px; }

.effect-card img {
  display: inline-block; }

.effect-card2,
.effect-card3,
.effect-card4 {
  display: -ms-flexbox;
  display: flex; }

.effect-card3 .effect-arrow-down {
  margin-left: 10px; }

.effect-card2 .effect-arrow-down,
.effect-card4 .effect-arrow-down {
  margin-right: 19px; }

#food-program {
  margin: auto;
  background-image: url("../img/bg-program.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: calc(38px + 3.5vw);
  overflow: hidden; }
  #food-program h2 {
    color: #fff;
    text-align: center; }

.food-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 45px;
  -ms-flex-direction: row;
      flex-direction: row; }
  .food-list > div {
    display: -ms-flexbox;
    display: flex; }
  .food-list li {
    background-color: rgba(255, 255, 255, 0.15);
    display: inline-block;
    padding: 0 30px; }
    .food-list li span {
      color: #a2d236;
      font-family: "Avant Garde Gothic ITC - Dm";
      line-height: 3.5; }
      .food-list li span:hover {
        color: #ffffff;
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        text-decoration: underline;
        cursor: pointer; }
  .food-list .food-list_active span {
    color: #ffffff;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    text-decoration: underline; }

.foodMenu-wrap {
  position: relative; }

.menu-wrap {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative; }

.menu-active {
  display: -ms-flexbox;
  display: flex; }

.food-menu {
  text-align: center;
  color: #fff;
  margin-top: 48px;
  display: block; }
  .food-menu img {
    margin: auto;
    height: 25px; }
  .food-menu svg {
    color: #fff;
    width: 20px;
    height: 20px;
    vertical-align: bottom; }
  .food-menu p {
    font-size: 16px;
    margin-top: 15px; }
    .food-menu p span {
      color: #a4d537; }
  .food-menu ul {
    margin-top: 51px; }
    .food-menu ul li {
      padding: 8.7px 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: baseline;
          align-items: baseline;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .food-menu ul li time {
        font-size: 16px;
        margin-right: 25px;
        margin-left: auto; }
      .food-menu ul li code {
        font-family: "Avant Garde Gothic ITC - Dm";
        font-size: 25px; }
      .food-menu ul li span {
        font-family: "Avant Garde Gothic ITC - Dm";
        font-size: 18px;
        margin-left: 9px; }
      .food-menu ul li a {
        display: inline-block;
        margin-left: auto;
        padding-left: 27px; }

.menu-wrap .food-active {
  display: block; }

#menu {
  margin: auto;
  background-color: #757575;
  background-image: url("../img/menu/bg-menu.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 61px; }
  #menu .wrapper {
    max-width: 1130px;
    padding-left: 15px;
    padding-right: 15px; }
  #menu h2 {
    color: #40413c;
    font-family: "Avant Garde Gothic ITC - Dm";
    font-size: 25px;
    text-align: center; }
  #menu h3 {
    margin: 46px 0 55px;
    text-align: center; }

.menu-list {
  margin-top: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  justify-content: center; }
  .menu-list li {
    background-color: rgba(255, 255, 255, 0.59);
    height: 61px;
    padding: 0 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center; }
    .menu-list li:hover:not(.menu-list_active):not(.menu-list_repeat) {
      text-decoration: underline; }
    .menu-list li a {
      white-space: pre;
      color: #3d3d3d;
      font-family: "Avant Garde Gothic ITC - Dm"; }
    .menu-list li span {
      font-family: "Avant Garde Gothic ITC - Dm";
      color: #3d3d3d;
      font-size: 12px;
      display: none;
      visibility: hidden; }

.menu-list .menu-list_active {
  background-color: #92d316; }
  .menu-list .menu-list_active > span {
    visibility: visible;
    display: block; }
  .menu-list .menu-list_active a {
    font-family: "Avant Garde Gothic ITC - Dm";
    font-size: 20px; }

.menu-list .menu-list_repeat {
  height: 61px;
  background-image: url("../img/menu/menu-4week.png");
  background-position: center;
  background-size: cover;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: #ffffff;
  position: relative;
  padding-right: 7px; }
  .menu-list .menu-list_repeat-text p:nth-of-type(1) {
    margin-left: -10px; }
  .menu-list .menu-list_repeat-text p:nth-of-type(2) {
    margin-left: -5px; }
  .menu-list .menu-list_repeat p {
    font-family: "Avant Garde Gothic ITC - Dm";
    font-size: 12px; }
  .menu-list .menu-list_repeat b {
    font-family: "Avant Garde Gothic ITC - Dm";
    font-size: 82px;
    margin-top: 3px; }

.prog-slim,
.prog-active {
  color: #679c01; }

.prog-activePlus {
  color: #e3c104; }

.prog-power {
  color: #ff9533; }

.program-selection {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 15px; }
  .program-selection li {
    color: rgba(64, 65, 60, 0.7);
    font-family: "Avant Garde Gothic ITC - Dm";
    font-size: 18px;
    cursor: pointer;
    position: relative;
    text-align: center; }
    .program-selection li:hover {
      color: #000; }
    .program-selection li:hover .program-selection-sub {
      display: block; }
    .program-selection li a {
      color: #3d3d3d;
      font-family: "Avant Garde Gothic ITC - Dm";
      font-size: 10px; }
    .program-selection li span {
      display: block;
      font-size: 20px;
      font-weight: 400;
      text-decoration: underline; }
    .program-selection li:first-child ul::before {
      display: none; }
    .program-selection li:last-child ul {
      left: auto;
      right: 0;
      margin-right: -30px; }
    .program-selection li:last-child ul::before {
      display: none; }

.program-selection-sub {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  white-space: nowrap;
  padding-top: 15px;
  padding-bottom: 11px; }
  .program-selection-sub li {
    display: inline-block;
    margin-right: 30px; }
  .program-selection-sub::before {
    content: '';
    display: block;
    width: 1px;
    height: 87px;
    background-color: #668f2a;
    position: absolute;
    bottom: 0;
    left: -30px; }

.week,
.week-sub {
  text-align: center;
  margin: 95px 0 56px; }
  .week li,
  .week-sub li {
    display: inline-block;
    margin: 0 7px; }
    .week li a,
    .week-sub li a {
      opacity: 0.59;
      color: #3d3d3d;
      font-family: "Avant Garde Gothic ITC - Dm";
      font-size: 15px; }
      .week li a:hover,
      .week-sub li a:hover {
        opacity: 1;
        text-decoration: underline; }

.week-sub {
  display: none; }

.menu-cards {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.menu-card {
  width: calc(20% - 30px);
  margin-left: 15px;
  margin-right: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .menu-card_img {
    position: relative; }
    .menu-card_img::before {
      content: "";
      display: block;
      padding-top: 89.33%; }
    .menu-card_img img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%; }
  .menu-card_title {
    background: #fff;
    text-align: center;
    padding: 14px 8% 8px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-positive: 1;
        flex-grow: 1;
    min-height: 111px; }
    .menu-card_title p {
      font-size: 14px;
      margin: 12px 0 19px; }
    .menu-card_title a {
      color: #40413c;
      font-family: "Avant Garde Gothic C";
      font-size: 12px;
      text-decoration: underline; }

.menuWrap-card_arrow,
.program-wrap_arrow,
.menu-wrap_arrow {
  display: none; }

.kilocalories {
  color: #ffffff;
  font-family: "Avant Garde CTT";
  font-size: 14px;
  font-weight: 700;
  border-radius: 0 0 10px 10px;
  background-color: #91d316;
  padding: 12px 9px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }
  .kilocalories p {
    color: #40413c;
    font-family: "Avant Garde Gothic C";
    font-size: 12px;
    font-weight: 400; }
    .kilocalories p span {
      margin-left: 5px; }

.choice-day {
  color: #3d3d3d;
  font-family: "Avant Garde Gothic ITC - Dm";
  font-size: 15px;
  margin: 27px 0 22px;
  text-align: center; }
  .choice-day > * {
    display: inline-block; }
  .choice-day p {
    margin-right: 12px; }
  .choice-day_list input {
    display: none; }
  .choice-day_list label {
    cursor: pointer;
    color: rgba(61, 61, 61, 0.59);
    margin-right: 15px; }
    .choice-day_list label:hover {
      color: #3d3d3d;
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  .choice-day_list input:checked + label {
    color: #3d3d3d;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .choice-day_list-sub {
    display: none; }

.menu-btn {
  text-align: center; }
  .menu-btn .btn {
    padding: 17px 25px; }
  .menu-btn button {
    color: #40413c; }
    .menu-btn button span {
      color: #466518;
      font-size: 20px;
      margin-left: 14px; }

#deliver {
  margin: auto;
  background-image: url("../img/bg-deliver.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 66px;
  color: #fff;
  text-align: center; }
  #deliver h2 {
    color: #fff;
    margin-bottom: 22px; }
  #deliver h2 + p {
    width: 77%;
    margin: auto; }

.deliver-contact {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .deliver-contact_address {
    margin: 49px 80px 78px; }
    .deliver-contact_address p {
      line-height: 1.5;
      margin: 22px 0 14px; }
    .deliver-contact_address a {
      color: #fff;
      font-size: 40px; }
    .deliver-contact_address address {
      font-size: 15px;
      margin-top: 17px; }
    .deliver-contact_address svg {
      color: #7ad06d; }

.deliver-desc {
  margin: auto;
  line-height: 1.1; }
  .deliver-desc_free {
    font-size: 25px;
    font-weight: 700;
    margin: 8px 0 11px;
    letter-spacing: 0.3px; }
  .deliver-desc_process {
    font-family: "Avant Garde Gothic C";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.45; }

.sliders {
  max-width: 560px;
  height: auto;
  margin: 40px auto;
  position: relative; }

.slider-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 9999; }

.slider {
  z-index: -1;
  height: 100%;
  font-size: 0; }
  .slider iframe {
    width: 100%;
    height: 338px; }

.slider > div {
  display: inline-block;
  height: 100%; }

.slider > div img {
  width: 100%;
  height: 100%; }

.btn-slider {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  z-index: 20;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  background-color: transparent;
  cursor: pointer; }

.btn-slider-prev {
  border-right: 28px solid #92d316;
  right: 105%; }

.btn-slider-next {
  border-left: 28px solid #92d316;
  left: 105%; }

#reviews {
  padding-top: 56px;
  padding-bottom: 61px; }

.reviews {
  max-width: 634px;
  margin: auto;
  margin: 44px auto 15px;
  color: #40413c;
  font-family: "Avant Garde Gothic C";
  line-height: 1.5;
  position: relative;
  min-height: 78px; }
  .reviews .review {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    transition: visibility 0.3s linear;
    position: absolute; }
  .reviews .review:first-child {
    visibility: visible; }
  .reviews img {
    width: 78px;
    margin-right: 10px;
    border-radius: 50%; }

.reviews-title {
  -ms-flex: 30%;
      flex: 30%;
  font-size: 14px;
  line-height: 1.4; }
  .reviews-title b {
    display: block;
    font-size: 18px;
    font-weight: 400; }

.reviews-desc {
  -ms-flex: 50%;
      flex: 50%;
  text-align: right;
  -ms-flex-align: center;
      align-items: center; }

.reviews-title-desc {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-align: center;
      align-items: center; }

.reviews-gallery {
  text-align: center; }
  .reviews-gallery li {
    display: inline-block;
    cursor: pointer; }
  .reviews-gallery img {
    width: 36px;
    display: inline-block;
    border-radius: 50%; }

#dessert {
  margin: auto;
  background-image: url("../img/desserts/bg-desserts.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 66px;
  padding-bottom: 128px;
  color: #fff;
  text-align: center; }
  #dessert .wrapper {
    max-width: 1130px;
    padding-left: 27px;
    padding-right: 27px; }
  #dessert h2 {
    color: #fff;
    letter-spacing: 0.3px; }
  #dessert h2 + p {
    margin: 21px 0 42px; }

.dessert-menu {
  background-color: rgba(255, 255, 255, 0.15);
  display: inline-block;
  padding: 0 22px; }
  .dessert-menu li {
    padding: 22px;
    display: inline-block; }
    .dessert-menu li span {
      font-family: "Avant Garde Gothic ITC - Dm";
      color: #92d316;
      cursor: pointer; }
      .dessert-menu li span:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        color: #fff;
        text-decoration: underline; }
  .dessert-menu div {
    display: inline-block; }

.dessert-menu .dessert-menu_active span {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #fff;
  text-decoration: underline; }

.dessert-cards {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -27px;
  margin-right: -27px; }

.dessert-cards_active {
  display: -ms-flexbox;
  display: flex; }

.dessert-card {
  width: calc(25% - 58px);
  margin: 50px 27px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .dessert-card h4 {
    font-family: "Avant Garde Gothic ITC - Dm";
    font-size: 22px;
    text-align: left;
    color: #fff; }
  .dessert-card_price {
    font-family: "Avant Garde Gothic C";
    font-size: 16px;
    margin: 12px 0 20px;
    text-align: left; }
    .dessert-card_price span + span {
      font-family: "Myriad Pro";
      margin: 0 5px; }
  .dessert-card_desc {
    font-family: "Avant Garde Gothic C";
    font-size: 13px;
    line-height: 1.3;
    padding: 20px 0 22px;
    text-align: left;
    min-height: 190px; }
    .dessert-card_desc span {
      display: block; }
  .dessert-card_btn {
    margin-top: auto; }
  .dessert-card .btn {
    padding: 7px 12px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25); }
    .dessert-card .btn svg {
      width: 18px;
      height: 18px;
      vertical-align: middle; }
    .dessert-card .btn span {
      display: inline-block;
      color: #466518;
      font-family: "Avant Garde Gothic ITC - Dm";
      font-size: 14px;
      margin-left: 11px; }

.dessert-cards .dessert-card_active {
  display: -ms-flexbox;
  display: flex; }

.dessert-cards_arrow {
  display: none; }

.subscribe-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center; }
  .subscribe-wrap_img {
    -ms-flex: 38%;
        flex: 38%;
    margin-top: -37px; }
    .subscribe-wrap_img img {
      margin-left: auto; }

.subscribe {
  -ms-flex: 55%;
      flex: 55%;
  padding-top: 49px;
  padding-right: 5%;
  color: #40413c;
  font-family: "Avant Garde Gothic ITC - Dm";
  text-align: center; }
  .subscribe-instagram {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
    .subscribe-instagram img {
      width: 192px;
      height: auto;
      margin: 10px; }
    .subscribe-instagram span {
      font-size: 35px;
      margin-right: 10px; }
  .subscribe strong {
    color: #92d316;
    font-family: "Avant Garde CTT";
    font-size: 57px;
    font-weight: 700; }
  .subscribe strong + p {
    font-family: "Avant Garde Gothic C";
    font-size: 30px;
    margin-top: 10px; }

.subscribe-instagram + p {
  margin-top: 31px;
  font-family: "Avant Garde Gothic C";
  font-size: 30px; }

.subscribe-btn {
  width: 179px;
  height: 52px;
  background-image: url("../img/subscribe-btn.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 37px auto 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .subscribe-btn a {
    color: #ffffff;
    font-family: "Avant Garde Gothic ITC - Dm";
    font-size: 16px;
    font-weight: 400; }

#about {
  background-image: url("../img/sponsors/bg-sponsors.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 46px;
  padding-bottom: 89px;
  margin: auto; }

.about {
  width: 40%;
  line-height: 1.1;
  color: #fff;
  margin-left: 8.4%; }
  .about-logo img {
    margin: auto; }
  .about h1 {
    font-family: "Avant Garde Gothic ITC - Dm";
    font-size: 25px;
    font-weight: 400;
    margin-top: 37px;
    line-height: 1.16; }
  .about h1 + p {
    font-family: "Avant Garde Gothic C";
    font-size: 16px;
    margin: 18px 0 23px;
    line-height: 1.6;
    letter-spacing: 0.2px; }
  .about-our {
    font-family: "Avant Garde CTT";
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 27px;
    text-align: center; }
  .about-sponsors {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: center;
        align-items: center; }
  .about-btn {
    display: block;
    text-align: center;
    margin-top: 50px; }
    .about-btn a {
      color: #466518;
      font-family: "Avant Garde Gothic ITC - Dm";
      font-size: 16px;
      padding: 17px 28px 17px 31px;
      box-shadow: 0 0 21px 1px rgba(255, 255, 255, 0.33); }

footer {
  margin: auto;
  background-color: #363636;
  color: #fff;
  border-bottom: 1px solid #fff; }

.footer-up {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 16px; }

.footer-subscribe {
  font-family: "Avant Garde Gothic C";
  font-size: 14px;
  line-height: 1.3;
  margin: 0 0 18px 3px; }
  .footer-subscribe_logo {
    width: 150px;
    margin-right: 111px;
    margin-top: 18px; }
  .footer-subscribe a {
    color: #fff;
    text-decoration: underline; }

.footer-btn {
  margin-right: 30px; }
  .footer-btn span {
    width: 33px;
    height: 33px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background: #fff;
    color: #757575;
    position: relative;
    border-radius: 50%;
    display: block;
    margin: auto; }
    .footer-btn span svg {
      fill: #838383;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg); }
  .footer-btn b {
    font-family: "Avant Garde Gothic C";
    font-size: 16px;
    margin-top: 5px;
    display: block;
    font-weight: 400; }

.footer-social {
  text-align: center;
  margin: 68px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .footer-social img {
    max-width: none; }
  .footer-social a {
    margin: 0 15px; }

.footer-police {
  font-size: 14px;
  font-family: "Avant Garde Gothic C";
  text-align: center; }
  .footer-police a {
    color: #fff;
    text-decoration: underline; }
  .footer-police a,
  .footer-police p {
    line-height: 3; }
